.list-img{
    width: 150px;
    height:100px;
}   
.list-img-td{
    height: 100px;
    width:150px;
}
body{
    align-content: right;
    direction: rtl;
    text-align: right;
}
#main-div{
    width:1000px;  
    margin : auto;
    padding-bottom: 50px;
    background-color: brown;
}
#header-div{
    width: 1000px; 
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 60px;
    text-shadow: 4px 4px 4px #aaa;
    height: 100px;
    margin : auto;
  
}
#person-name-div{
    float: right;
    margin-right: 10px;
}
#blue{
    background: blue;
    width: 300px;
    height: 50px;
    float: left;
    margin-left:25px;
    margin-top:25px;
}
#family-collage-div{
    width:1000px;
    margin : auto;
    background-color: brown;
    background-image: URL("/images/family_collage.jpg");
}
#members-list-div{
    width:800px;
    margin : auto;
    align-content: center;
    background-color: blue;
}
#family-collage-img{
    width: 800px;
    display:block;
    margin:auto;
}
#members-list-table{
    font-size: 18px;
    width : 800px;
    align-content: center;
}


table, th, td{
    border:1px solid black;
    border-collapse: collapse;
}

p{
    font-size: 18px;
    height:20px;
    border:2px ;
}
#personal-details-div{
    margin-top:50px;
    width:50%;
    background-color: yellow;
    position: relative;
    float: right;
    height:200px;
}

#member-description-div{
    margin-top:50px;
    position: relative;
    width:50%;
    float: left;
    height:200px;
    background-color:yellowgreen;
}
#personal-details-table{
    width: 100%;
}

#change-mode-btn{
    width: 100%;;
    height:50px;
    
}
.edit-mode{
    display:none;
    width:100%;
    height: 100%;
}
.normal-mode{
    display:initial;
    width:100%;
    height: 100%;
    background-color: plum;
}
